content/investigations/HTB-Pterodactyl/index.md
content/investigations/HTB-Facts/index.md
content/investigations/CDEF-Ransomed/index.md
content/investigations/CDEF-CallMeOnTheChain - EtherRAT/index.md